{% extends "base.html" %}

{% block content %}
  {% include "partials/sidebar.html" %}
  {% include "partials/content.html" %}
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  <script src="{{ url_for('static', filename='js/firebase.js') }}"></script>
  <script src="{{ url_for('static', filename='js/editor-header.js') }}"></script>
  <script>
    firebase.auth().onAuthStateChanged(function(user) {
      if (!user) {
        window.location.href = "/login";
      }
    });
  </script>
{% endblock %}
